/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: Ubuntu, sans-serif;
    @include font-weight(light);

    @include media-query(palm) {
        font-size: 1em;
    }
}

body {
    padding: $spacing-unit;

    @include media-query(palm) {
        padding: $spacing-unit--small;
    }
}

.page {
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
}

// InstantClick
#instantclick-bar {
    background: $color-links;
}
