/*------------------------------------*\
    #PAGE
\*------------------------------------*/

$page-width:    50em;
$content-width: 36em;

html {
    background-color: $base-text-color;
    font-family: Ubuntu, sans-serif;
    @include font-weight(light);

    @include media-query(palm) {
        font-size: 90%;
    }
}

.wrapper {
    @extend %clearfix;
    @extend %centred;
    max-width: $page-width;
}

%centred {
    margin-right: auto;
    margin-left: auto;
}

.col,
%col {
    width: 50%;
    float: left;

    p {
        margin: 0;
    }

    &:last-child {
        text-align: right;
    }

    @include media-query(palm) {
        float: none;
        width: 100%;
        text-align: center;

        &:first-child {
            margin-bottom: $spacing-unit--small;
        }

        &:last-child {
            text-align: center;
        }
    }
}
