/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Re-use spacing of certain elements.
 */
%spaced {
    margin-top: $spacing-unit--large;
    margin-right: 0;
    margin-bottom: $spacing-unit--large;
    margin-left: 0;

    @include media-query(palm) {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }
}

%pulled {
    margin-right: -4rem;
    margin-left: -4rem;

    @include media-query(palm) {
        margin-right: -$spacing-unit--small;
        margin-left: -$spacing-unit--small;
    }
}





/**
 * Headings.
 */
h1, h2, h3 {
    @include font-weight(medium);
    letter-spacing: -1px;
}





/**
 * Paragraphs.
 */
.lead,
.lede {
    @include font-size($inuit-base-font-size + 2px);
}





/**
 * Emboldened elements.
 */
a,
strong, b,
dt {
    @include font-weight(medium);
}





/**
 * Code-like elements.
 */
code, kbd, samp {
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre {
    @extend %small;
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}





/**
 * Small type.
 */
small,
.small,
%small {
    @include font-size($base-font-size - 2px);
}





/**
 * Inline quotes.
 */
q {
    quotes: "‘" "’" "“" "”";

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

}





/**
 * Block quotes.
 */
blockquote {
    quotes: "“" "”";

    p {

        &:before {
            content: open-quote;
        }

        &:after {
            content: no-close-quote;
        }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                content: close-quote;
            }

        }

    }

    q {
        quotes: "‘" "’";

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }

    }

}





/**
 * Pull quotes.
 */
.pull-quote {
    @extend %spaced;
    @extend %pulled;
    @include font-size($inuit-heading-size-3, 1.5);
    color: $color-grey;
    font-style: italic;

    @include media-query(palm) {
        margin-right: 0;
        margin-left: 0;
    }
}

    .pull-quote__source {
        display: block;
        font-style: normal;
        @include font-size(18px);
    }





/**
 * Links.
 */
a {
    @include font-weight(medium);
    text-decoration: underline;
    color: $color-links;
    transition: all .1s ease-in-out;

    @include attention() {
        color: $color-links-hover;
    }
}





/**
 * Lists.
 */
ul {
    list-style-type: square;
}





/**
 * Images.
 */
figure {
    @extend %spaced;
    @extend %pulled;
    text-align: center;

    > img {
        border-radius: 4px;
    }
}

    figcaption {
        @extend %small;
        color: $color-grey;
    }





/**
 * Horizontal rule.
 */
hr,
%hr {
    @extend %spaced;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    width: 100%;
    border: 0;
    background-color: $color-grey-ui;
}
