/*------------------------------------*\
    #PAGE-FOOT
\*------------------------------------*/

.page-foot {
    @extend %clearfix;
    @extend %small;
    padding: $spacing-unit;
    background-color: $base-text-color;
    color: white;

    a {
        color: white;

        @include attention() {
            color: $color-links;
        }

        &.social-link {
            @include font-size(20px, 16px);

            &:not(:first-child) {
                margin-left: $spacing-unit--small/2;
            }
        }
    }
}
