/*------------------------------------*\
    #PAGE-CONTENT
\*------------------------------------*/

.page-content {
    max-width: $content-width;
    margin: 0 auto;
}

.c-list {
    list-style-type: none;
    margin-left: 0;

    .entry__title {
        > a {
            color: $inuit-base-text-color;

            @include attention() {
                color: $color-links;
            }
        }
    }
}
