/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    @extend %clearfix;
    padding-bottom: $spacing-unit--small;
    border-bottom: 1px solid $color-grey-ui;

    a {
        @include font-size(16px);
        line-height: 45px;
        @include font-weight(light);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -1px;
        color: $color-grey;

        @include media-query(palm) {
            line-height: 35px;
        }
    }
}

    .page-logo {
        float: left;

        > img {
            display: inline-block;
            max-width: 45px;
            border-radius: 100%;
            margin-right: 0.4em;
            padding: 2px;
            box-shadow: 0 0 0 1px $color-grey-ui;
            transition: all .1s ease-in-out;

            @include media-query(palm) {
                max-width: 35px;
            }
        }

        @include attention() {
            > img {
                box-shadow: 0 0 0 2px $color-links;
            }
        }
    }

    .site-nav {
        float: right;

        > a {
            position: relative;
            display: inline-block;
            margin-left: $spacing-unit;
            color: $color-links-nav;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: -($spacing-unit--small + 2px);
                left: 0;
                background-color: $color-links;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s cubic-bezier(0.325, -0.075, 0, 1.65);
            }

            @include media-query(palm) {
                margin-left: $spacing-unit--small;
            }

            @include attention() {
                &:after {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }

            &.active {
                &:after {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
