/*------------------------------------*\
    #ANIMATIONS
\*------------------------------------*/

%animated {
  animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

%fadeIn {
  animation-name: fadeIn;
}

%fadeInDown {
  animation-name: fadeInDown;
}

%fadeInUp {
  animation-name: fadeInUp;
}
