/*------------------------------------*\
    #PAGE-FOOT
\*------------------------------------*/

.page-foot {
    padding-top: $spacing-unit--small;
    border-top: 1px solid $color-grey-ui;
    @include font-size(16px);

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query(palm) {
        margin-right: -$spacing-unit--small;
        margin-left: -$spacing-unit--small;
        text-align: center;
    }
}
