/*------------------------------------*\
    #PULL-QUOTE
\*------------------------------------*/

.pull-quote {
    @extend %spaced;
    margin-right: -5rem;
    margin-left: -5rem;
    @include font-size(30px, false);
    color: $color-quote;
    font-style: italic;

    @include media-query(palm) {
        margin-right: 0;
        margin-left: 0;
    }
}

    .pull-quote__source {
        display: block;
        font-style: normal;
        @include font-size(18px);
    }
