/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    padding: halve($spacing-unit--small) $spacing-unit--small;
    border: 2px solid $color-links;
    border-radius: $base-round;
    cursor: pointer;
    text-align: center;
    letter-spacing: -1px;
    text-decoration: none;

    @include attention() {
        border-color: $color-links-hover;
    }
}
