/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    @extend %clearfix;
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit--small;
    border-bottom: 1px solid $color-grey-ui;

    @include media-query(palm) {
        margin-bottom: $spacing-unit--small;
    }

    a {
        color: $color-site-nav;
        text-decoration: none;
        letter-spacing: -1px;

        @include attention() {
            color: $color-links;
        }
    }
}

    .page-title {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        font-size: inherit;
    }


    .site-nav {
        float: right;

        > a {
            position: relative;
            margin-left: $spacing-unit;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: -$spacing-unit + 6px;
                background-color: $color-links;
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s cubic-bezier(0.325, -0.075, 0, 1.65);

                @include media-query(palm) {
                    bottom: -$spacing-unit + 7px;
                }
            }

            @include attention() {
                color: $color-links;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }

            &.active {
                color: $color-links;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
