/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn,
%btn {
    display: inline-block;
    padding: 6px 20px;
    background-color: rgba($color-links, .85);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .1s ease-in-out;
    text-align: center;

    @include attention() {
        background-color: rgba($color-links, .7);
    }
}

.btn--small,
%btn--small {
    padding: 4px 12px;
}

.btn--ui,
%btn--ui {
    @extend %btn;

    &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:not(:first-child) {
        margin-left: 1px;
    }
}
