/*------------------------------------*\
    #ENTRY
\*------------------------------------*/

.entry-list {
    list-style-type: none;
    margin: 0;

    > li {
        & > :last-child {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-bottom: $spacing-unit--large;

            &:after {
                content: "";
                display: block;
                @extend %hr;
            }

            @include media-query(palm) {
                margin-bottom: $spacing-unit;
            }
        }
    }

    .entry__title {
        > a {
            color: $inuit-base-text-color;
            text-decoration: none;

            @include attention() {
                color: $color-links;
            }
        }
    }

    .entry__meta {}

    .entry__more {
        > a {
            @extend %btn;
            @extend %btn--small;
            @include font-size(12px);
        }
    }
}

.entry {
    @extend %centred;
    max-width: $content-width;

    > :last-child {
        margin-bottom: 0;
    }
}

    .entry__head {
        margin-bottom: $spacing-unit--large;
        text-align: center;

        @include media-query(palm) {
            margin-bottom: $spacing-unit;
        }
    }

    .entry__title {
        margin-bottom: 0;
    }

    .entry__meta {
        @extend %small;
        color: $color-grey;
        text-transform: uppercase;
    }

    .entry__body {
        > :last-child {
            margin-bottom: 0;
        }
    }

.sidenote {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit--small;
    background-color: rgba($color-links, 0.15);
    border: 1px solid $color-links;
    border-radius: 2px;
    @include font-size(16px);

    > p {
        margin-bottom: 0;

        > strong {
            display: block;
            text-transform: uppercase;
        }
    }
}
