/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    a {
        color: $inuit-base-text-color;
        text-decoration: none;
        letter-spacing: -1px;

        @include attention() {
            color: $color-links;
        }
    }
}

    .page-title {
        @include font-size(21px);
    }

    .site-nav {
        margin-top: $spacing-unit--small;
        border-top: 1px solid $color-grey-ui;

        > a {
            position: relative;
            display: inline-block;
            margin-top: -1px;
            margin-left: $spacing-unit;
            color: $color-site-nav;
            @include font-weight(light);
            line-height: $spacing-unit*1.75;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                top: 0;
                left: 0;
                background-color: $color-links;
                visibility: hidden;
                transform: scaleX(0);
                transition: all .3s cubic-bezier(0.325, -0.075, 0, 1.65);
            }

            @include attention() {
                color: $color-links;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }

            &.active {
                color: $color-links;

                &:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
