/*------------------------------------*\
    #PAGE-CONTENT
\*------------------------------------*/

.page-content {
    max-width: $content-width;
    margin: 0 auto;
}

.c-list {
    list-style-type: none;
    margin-left: 0;
}

    .c-list__item {
        margin-bottom: $spacing-unit;
    }

        .c-list__title {
            margin-bottom: 0;
        }

        .c-list__meta {
            display: block;
        }
