/*------------------------------------*\
    #ENTRY
\*------------------------------------*/

.entry {
    @extend %spaced;
}

    .entry__head {
        @extend %spaced;
        text-align: center;
    }

    .entry__body {}

    .entry__foot {}

    .entry__title {
        margin-bottom: 0;
    }

    .entry__meta {
        color: $color-grey-light;
    }

.sidenote {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    padding: $spacing-unit--small;
    background-color: rgba($color-links, 0.15);
    border: 1px solid $color-links;
    border-radius: 2px;
    @include font-size(16px);

    > p {
        margin-bottom: 0;

        > strong {
            display: block;
            text-transform: uppercase;
        }
    }
}
