///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-grey:            #444;
$color-grey-light:      #777;
$color-grey-ui:         #eee;
$color-blue:            #1193e5;
$color-blue-dark:       #0d75b6;
$color-tint:            rgba(0, 0, 0, 0.025);





// Page.
$inuit-base-text-color: $color-grey;





// Links.
$color-links:           $color-blue;
$color-links-hover:     $color-blue-dark;





// Quotes.
$color-quote:           $color-grey-light;





// Site navigation.
$color-site-nav:        $inuit-base-text-color;
