///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

$color-black:           #222;
$color-grey:            #787878;
$color-grey-ui:         #ddd;
$color-red:             #df6f68;





// Page.
$inuit-base-text-color: $color-black;





// Links.
$color-links:           $color-red;
$color-links-hover:     rgba($color-red, .85);
