// Sizes.
$page-width:          35em;
$base-font-size:      18px;
$base-line-height:    28px;

$heading-size-1:      32px;
$heading-size-2:      24px;
$heading-size-3:      21px;

$small-font-size:     $base-font-size - 2px;


// Colours.
$color-black:         #444;
$color-grey:          #888;
$color-grey-dark:     #666;
$color-grey-light:    #e6e6e6;
$color-blue:          #1193e5;
$color-blue-dark:     #0d75b6;

$base-text-color:     $color-black;
$color-links:         $color-blue;
$color-links-hover:   $color-blue-dark;
