// Sizes.
$page-width:         50em;
$base-font-size:     18px;
$base-line-height:   28px;

$heading-size-1:     $base-font-size;
$heading-size-2:     $base-font-size;
$heading-size-3:     $base-font-size;

$small-font-size:    $base-font-size - 2px;

// Colours.
$color-black:        #333;
$color-grey:         #777;
$color-grey-light:   #eee;
$color-blue:         #1193e5;
$color-blue-dark:    #0d75b6;

$base-text-color:    $color-black;
$color-links:        $color-blue;
$color-links-hover:  $color-blue-dark;
