@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #444;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 750px) {
    body {
      font-size: 18px; } }

.header,
.footer, .text, .library {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto; }

.header,
.footer {
  padding: 1rem; }

.text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem; }
  @media (min-width: 750px) {
    .text {
      margin-top: 2rem;
      margin-bottom: 2rem; } }

.full-width {
  max-width: 100%; }

.page--home .header a[href="/"] {
  font-weight: bold; }

@media (min-width: 750px) {
  .header {
    padding-top: 3rem; } }
.header nav {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3; }
.header a {
  padding-bottom: 1rem;
  margin-right: 3rem;
  text-decoration: none;
  border: none; }
  .header a:hover, .header a:active, .header a:focus {
    color: crimson; }
  .header a:last-child {
    margin-right: 0; }

.copyright {
  margin: 0;
  padding-top: 1rem;
  color: #7c7c7c;
  border-top: 1px solid #e3e3e3; }
  @media (min-width: 750px) {
    .copyright {
      padding-bottom: 2rem; } }

.avatar {
  float: right;
  position: relative;
  display: block;
  width: 100px;
  margin: 0 0 2rem 2rem; }
  .avatar img {
    display: block;
    width: 100%;
    border-radius: 100%;
    vertical-align: bottom; }
  .avatar:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    background-color: none;
    -webkit-transition: all .1s linear;
    transition: all .1s linear; }
  .avatar:hover:before, .avatar:active:before, .avatar:focus:before {
    background-color: rgba(255, 0, 56, 0.5); }
  @media (min-width: 750px) {
    .avatar {
      width: 120px; } }

.page--articles .header a[href="/articles"],
.page--post .header a[href="/articles"] {
  font-weight: bold; }

.posts {
  list-style-type: none;
  padding: 0; }

.post {
  font-size: 18px;
  margin-bottom: 10px; }
  @media (min-width: 750px) {
    .post {
      margin-bottom: 15px;
      font-size: 20px; } }
  .post small {
    color: #7c7c7c; }

.page--library .header a[href="/library"] {
  font-weight: bold; }

.library {
  margin-top: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 750px) {
    .library {
      margin-top: 4rem;
      margin-bottom: 2rem; } }

.book {
  width: 50%;
  padding: 0 .5rem;
  margin-bottom: 2rem;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-bottom: none; }
  @media (min-width: 750px) {
    .book {
      width: 33.333%; } }
  @media (min-width: 1334px) {
    .book {
      width: 20%; } }
  .book:hover, .book:active, .book:focus {
    text-decoration: none; }
    .book:hover .book-title, .book:active .book-title, .book:focus .book-title {
      color: crimson; }

.book-cover {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%; }
  .book-cover img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    margin-bottom: .5rem; }

.book-title {
  display: block;
  color: #444;
  font-weight: normal; }

.book-author {
  font-style: normal;
  font-size: 14px;
  color: #7c7c7c; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #222; }

h1 {
  margin: 0 0 2rem;
  font-size: 28px; }
  @media (min-width: 750px) {
    h1 {
      margin-bottom: 3rem;
      font-size: 36px; } }

h2 {
  font-size: 21px; }
  @media (min-width: 750px) {
    h2 {
      font-size: 27px; } }

h3 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #7c7c7c; }
  @media (min-width: 750px) {
    h3 {
      font-size: 21px; } }

ul.no-bullets,
ol.no-bullets {
  list-style-type: none;
  padding-left: 0; }

a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid crimson; }
  a:hover, a:active, a:focus {
    color: crimson;
    border-color: crimson; }

hr {
  margin: 2rem auto;
  height: 1px;
  width: 100%;
  border: 0;
  background-color: #e3e3e3; }

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 1px solid crimson;
  quotes: "“" "”"; }
  blockquote p:last-of-type {
    margin-bottom: 0; }
