/*------------------------------------*\
    #STYLE.CSS
\*------------------------------------*/

/**
 * #SETTINGS
 */
$inuit-base-font-size:   18px;
$inuit-base-line-height: 27px;
@import "../bower_components/inuit-defaults/settings.defaults";

@import "settings.global";
@import "settings.colors";
@import "../bower_components/inuit-responsive-settings/_settings.responsive";
@import "settings.responsive";





/**
 * #TOOLS
 */
@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
@import "../bower_components/inuit-responsive-tools/_tools.responsive";
@import "tools.aliases";





/**
 * #GENERIC
 */
@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";
@import "../bower_components/inuit-reset/generic.reset";
@import "../bower_components/inuit-shared/generic.shared";





/**
 * #BASE
 */
@import "../bower_components/inuit-page/base.page";
@import "base.page";

$inuit-heading-size-1: 36px;
$inuit-heading-size-2: 30px;
$inuit-heading-size-3: 24px;
$inuit-heading-size-4: $inuit-base-font-size;
@import "../bower_components/inuit-headings/base.headings";

@import "base.type";
@import "../bower_components/inuit-lists/base.lists";
@import "../bower_components/inuit-images/base.images";





/**
 * #COMPONENTS
 */
@import "components.page-head";
@import "components.page-content";
@import "components.page-foot";
@import "components.entry";
@import "components.pull-quote";
@import "components.guide";
// @import "components.code-syntax";





/**
 * #TRUMPS
 */
@import "../bower_components/inuit-clearfix/trumps.clearfix";

// InstantClick
#instantclick-bar {
    background: $color-links;
}
