.page--articles,
.page--post {
    .header {
        a[href="/articles"] {
            font-weight: bold;
        }
    }
}

.posts {
    list-style-type: none;
    padding: 0;
}

.post {
    font-size: 18px;
    margin-bottom: 10px;

    @include tablet {
        margin-bottom: 15px;
        font-size: 20px;
    }

    small {
        color: $c-meta;
    }
}
