.avatar {
    float: right;
    position: relative;
    display: block;
    width: 100px;
    margin: 0 0 2rem 1rem;

    img {
        display: block;
        width: 100%;
        border-radius: 100%;
        vertical-align: bottom;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 100%;
        background-color: none;
        transition: all .1s linear;
    }

    @include attention {
        &:before {
            background-color: rgba(255, 0, 56, .5);
        }
    }

    @include tablet {
        width: 120px;
    }
}
