.header {
    @include desktop {
        padding-top: 2rem;
        display: flex;
    }

    .name {
        flex-grow: 1;
        margin-bottom: .5rem;

        > a {
            color: $c-headings;

            @include attention {
                color: black;
            }
        }

        @include desktop {
            margin-bottom: 0;
        }
    }

    a {
        margin-right: 1.5rem;
        text-decoration: none;
        border: none;
        color: $c-meta;
        line-height: 2;

        @include attention {
            color: $c-links;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
