.header {
    text-align: center;

    @include tablet {
        display: flex;
        text-align: left;
        padding-top: 2rem;
    }

    .name {
        flex-grow: 1;
        margin-bottom: .5rem;

        > a {
            color: black;

            @include attention {
                color: $c-headings;
            }
        }

        @include tablet {
            margin-bottom: 0;
        }
    }

    a {
        margin-right: 2rem;
        text-decoration: none;
        border: none;
        color: $c-meta;
        line-height: 2;

        @include attention {
            color: $c-links;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
