.header {
    @include tablet {
        padding-top: 3rem;
    }

    nav {
        padding-bottom: 1rem;
        border-bottom: 1px solid $c-borders;
    }

    a {
        padding-bottom: 1rem;
        margin-right: 3rem;
        text-decoration: none;
        border: none;

        @include attention {
            color: $c-links;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
