h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $c-headings;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 32px;

    @include desktop {
        margin-bottom: 4rem;
        font-size: 48px;
    }
}

h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: $c-meta;
}

ul.no-bullets,
ol.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: $c-body;
    text-decoration: none;
    border-bottom: 1px solid $c-meta;
    transition: all .1s linear;

    @include attention {
        border-color: $c-links;
    }
}

hr {
    margin: 2rem auto;
    height: 1px;
    width: 100%;
    border: 0;
    background-color: $c-borders;
}

blockquote {
    margin-left: 0;
    padding-left: 2rem;
    border-left: 1px solid $c-links;
    quotes: "“" "”";

    p:last-of-type {
        margin-bottom: 0;
    }
}
