h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $c-headings;
}

h1 {
    margin: 0 0 2rem;
    font-size: 24px;
    text-align: center;

    @include tablet {
        margin-bottom: 3rem;
        font-size: 32px;
    }
}

h2 {
    font-size: 21px;

    @include tablet {
        font-size: 24px;
    }
}

h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: $c-meta;

    @include tablet {
        font-size: 21px;
    }
}

ul.no-bullets,
ol.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: $c-body;
    text-decoration: underline;
    transition: color .1s linear;

    @include attention {
        color: $c-links;
    }
}

hr {
    margin: 2rem auto;
    height: 1px;
    width: 100%;
    border: 0;
    background-color: $c-borders;
}

blockquote {
    margin-left: 0;
    padding-left: 2rem;
    border-left: 1px solid $c-links;
    quotes: "“" "”";

    p:last-of-type {
        margin-bottom: 0;
    }
}
