$c-body: #444;
$c-headings: #222;
$c-meta: #7c7c7c;
$c-borders: #e3e3e3;
$c-links: crimson;
$c-page-background: #fff;
$c-quote-background: #22313f;
$c-quote-accent: #ff9e00;

$f-primary: "Helvetica Neue", Arial, sans-serif;
$f-quote: Georgia, "Times New Roman", serif;

$s-body: 18px;
$s-line-height: 1.5;
$s-content: 45rem;

$s-tablet-width: 750px;
$s-desktop-width: 1334px;
