.page--writing,
.page--post {
    .header {
        a[href="/writing"] {
            color: $c-links;
        }
    }
}

.posts {
    list-style-type: none;
    padding: 0;
}

.post {
    margin-bottom: 1rem;

    @include desktop {
        margin-bottom: 2rem;
    }

    a {
        display: block;
        text-decoration: none;
    }

    em {
        display: block;
        color: $c-meta;
    }
}
