/*------------------------------------*\
  #CONTENT
\*------------------------------------*/

.page--home {
  h1 {
    margin-bottom: $spacing-unit--large;
    font-weight: 400;
    @include font-size(30px);
    line-height: 1.25;
  }

  h2 {
    margin-top: $spacing-unit--large;
    margin-bottom: -$spacing-unit/2.5;
    @include font-size(20px);
  }
}

.sidenote {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit--small;
  background-color: rgba($colour-links, 0.15);
  border: 1px solid $colour-links;
  border-radius: 4px;

  h4 {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }
}
