/*------------------------------------*\
  #CONTENT
\*------------------------------------*/

.page--home {
  h1 {
    margin-top: 0;
    margin-bottom: $spacing-unit;
    font-weight: 400;
    @include font-size(24px);
    line-height: 1.25;

    @include media-query(lap-and-up) {
      @include font-size(30px);
      line-height: 1.25;
      margin-bottom: $spacing-unit--large;
    }
  }

  h2 {
    margin-top: $spacing-unit;
    margin-bottom: -$spacing-unit/2.5;
    @include font-size(18px);

    @include media-query(lap-and-up) {
      @include font-size(20px);
      margin-top: $spacing-unit--large;
      margin-bottom: -$spacing-unit/2.5;
    }
  }
}

.note {
  margin: $spacing-unit 0;
  padding: $spacing-unit/1.5;
  background-color: rgba($colour-links, .25);
  border: 5px solid rgba($colour-links, .15);
  color: #494949;
  font-style: italic;

  > p {
    margin: 0;
  }
}

.sep {
  color: $alt-text-color;
}
