/*------------------------------------*\
  #PAGE
\*------------------------------------*/

html {
  position: relative;
  font-family: "Source Serif Pro", serif;
}

html:before {
  position: absolute;
  content: '';
  width: auto;
  height: .5em;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;

  @include media-query(lap-and-up) {
    width: .5em;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

html:before {
  background: linear-gradient(
    90deg,
    #1abc9c 10%,
    #2ecc71 10%,
    #2ecc71 12.5%,
    #3498db 12.5%,
    #3498db 28%,
    #9b59b6 28%,
    #9b59b6 35%,
    #34495e 35%,
    #34495e 60%,
    #f1c40f 60%,
    #f1c40f 69%,
    #e67e22 69%,
    #e67e22 83%,
    #e74c3c 83%,
    #e74c3c 88%,
    #e74c3c 96%,
    #95a5a6 96%
  );

  @include media-query(lap-and-up) {
    background: linear-gradient(
      45deg,
      #1abc9c 10%,
      #2ecc71 10%,
      #2ecc71 12.5%,
      #3498db 12.5%,
      #3498db 28%,
      #9b59b6 28%,
      #9b59b6 35%,
      #34495e 35%,
      #34495e 60%,
      #f1c40f 60%,
      #f1c40f 69%,
      #e67e22 69%,
      #e67e22 83%,
      #e74c3c 83%,
      #e74c3c 88%,
      #e74c3c 96%,
      #95a5a6 96%
    );
  }
}

body {
  max-width: 45em;
  padding: $spacing-unit--large $spacing-unit;

  @include media-query(lap-and-up) {
    padding: $spacing-unit--large $spacing-unit--large*1.25;
  }
}
