/*------------------------------------*\
    #INTRO
\*------------------------------------*/

.intro,
.intro-body {
    overflow: hidden;
    zoom: 1;
}

.intro-logo,
.intro-body {
    display: table-cell;
    vertical-align: top;

    @include media-query(portable) {
        display: block;
    }
}

.intro-logo {
    vertical-align: middle;
    padding-right: $spacing-unit--small;

    > a {
        display: inline-block;
        border-bottom: none;

        > img {
            display: block;
            max-width: $avatar-size;
            border-radius: 100%;
        }
    }

    @include media-query(portable) {
        padding-right: 0;
    }
}
