// /*------------------------------------*\
//     #COLOURS
// \*------------------------------------*/

$colour-red:           #df6f68;
$colour-black:          #111;
$colour-grey:           #ccc;

$inuit-base-text-color: $colour-black;

$colour-links:          $colour-red;
$colour-alt:            $colour-grey;
