// /*------------------------------------*\
//     #VARS
// \*------------------------------------*/

$avatar-size: 64px;

$cover-lap-width: 50%;
$cover-desk-width: 60%;

$small-font-size: $base-font-size - 2px;
