// /*------------------------------------*\
//   #COLOURS
// \*------------------------------------*/

$colour-blue:           #3498db;
$colour-black:          #333;
$colour-grey:           #ccc;

$base-text-color:       $colour-black;
$alt-text-color:        $colour-grey;

$colour-links:          $colour-blue;
