/*------------------------------------*\
    #STYLE.CSS
\*------------------------------------*/

@import "../bower_components/inuit-defaults/settings.defaults";
@import "../bower_components/inuit-responsive-settings/settings.responsive";

@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";
@import "../bower_components/inuit-responsive-tools/tools.responsive";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";
$inuit-heading-size-1:  30px;
$inuit-heading-size-2:  24px;
$inuit-heading-size-3:  20px;
$inuit-heading-size-4:  16px;
@import "../bower_components/inuit-headings/base.headings";
@import "../bower_components/inuit-images/base.images";
@import "../bower_components/inuit-lists/base.lists";
@import "../bower_components/inuit-paragraphs/base.paragraphs";

@import "tools.aliases";

@import "settings.vars";
@import "settings.colours";

@import "base.type";

@import "components.page";
@import "components.content";
@import "components.intro";
@import "components.foot";
@import "components.cover";
