{% capture content %}
    <article class="entry">
        <h1>{{ title }}</h1>

        {{ body }}

        {% for article in posts %}

            {% assign year = article.date | date: '%Y' %}

            {% if year != prev_year %}
                {% if prev_year %}
                </ul>
                {% endif %}

                <h3>{{ year }}</h3>
                <ul class="c-list">
            {% endif %}

            <li class="c-list__item">
                <a href="{{ article.url }}">{{ article.title }}</a>
            </li>

            {% assign prev_year = year %}

        {% endfor %}

        </ul>

        <nav class="page-nav">
            <a href="/">&larr; Back to home</a>
        </nav>
    </article>
{% endcapture %}

{% include 'layouts/default' %}
