// Fonts
$base-font-family:  "PT Sans", sans-serif;


// Colours
$base-ui-color:     #e6e6e6;
$base-bg-color:     #e6e6e6;
$base-font-color:   #444444;
$alt-font-color:    #888888;
$base-link-color:   #ed4242;


// Typographic scale
$large-size:        32px;
$h1-size:           28px;
$h2-size:           24px;
$h3-size:           20px;
$h4-size:           16px;
$h5-size:           14px;
$h6-size:           12px;
$small-size:        11px;


// Responsiveness
$responsive:        true;


// Breakpoints
$lap-start:         641px;


// Objects and abstractions
$use-grids:         false;
$use-nav:           false;
$use-media:         false;
$use-island:        false;
$use-sprite:        false;


// Helper classes
$use-helper:        false;
