*,
::after,
::before {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
    font: 1rem/1.75 -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

.page {
    min-height: 100%;
    max-width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.page header {
    flex: 1;
    margin-bottom: 4rem;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 4rem;
}

.page footer {
    color: dimgray;
}

.page footer p {
    display: inline-block;
    margin: 0 1.75rem 0 0;
    line-height: 2.5;
}

a {
    color: grey;
}

a:hover,
a:active,
a:focus {
    color: crimson;
}

@media (min-width: 750px) {
    .page {
        padding: 4rem;
    }
}