:root {
  --background-color: #fff;
  --border-color: #ddd;
  --font-color-primary: #232323;
  --font-color-secondary: #6b69d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000205;
    --border-color: #cacaca;
    --font-color-primary: #f6f6f6;
    --font-color-secondary: #6b69d6;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color-primary);
  -webkit-text-size-adjust: 100%;
}

main {
  padding: 2rem 1.5rem 4rem;
}

@media (min-width: 600px) {
  main {
    padding: 5rem;
  }
}

a {
  color: var(--font-color-secondary);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--font-color-primary);
  text-decoration: underline;
}

.arrowed {
  white-space: nowrap;
}

.arrowed::after {
  content: " →";
}

h1 {
  margin: 0 0 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}

blockquote {
  margin: 1.5rem 0;
  padding: 0 1rem 0 1rem;
  border-left: 0.25rem solid var(--border-color);
  color: var(--font-color-secondary);
  font-size: 1.125rem;
}

.Page {
  max-width: 35rem;
}

.Page--wide {
  max-width: 70rem;
}

.Header {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem;
}

.Header__left {
  margin-right: 1rem;
}

.Avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

@media (min-width: 600px) {
  .Avatar {
    width: 5rem;
    height: 5rem;
  }
}

.Title {
  margin: 0;
  font-size: 1.25rem;
}

.Navigation {
  display: flex;
  flex-wrap: wrap;
}

.Navigation a {
  margin-right: 1rem;
  font-weight: 600;
}

.Navigation a:last-child {
  margin-right: 0;
}

.Navigation a.selected {
  color: var(--font-color-primary);
  text-decoration: none;
}

.Project {
  margin: 1.5rem 0;
}

.Project h2 + p {
  margin-top: 0;
}

.Project__title a {
  color: var(--font-color-primary);
  text-decoration: none;
}

.Project__title a:hover,
.Project__links a:hover {
  text-decoration: underline;
}

.Project__links a {
  margin-right: 1rem;
  color: var(--font-color-secondary);
}

.Project__links a:hover {
  color: var(--font-color-primary);
}

.Project__links a:last-child {
  margin-right: 0;
}

.Project img {
  max-width: 100%;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.GridItem {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem;
}

.GridItem a {
  color: var(--font-color-primary);
  text-decoration: none;
}

.GridItem__image {
  margin: 0 0 0.5rem;
  padding: 0;
  height: 18rem;
  min-height: 18rem;
}

.GridItem__image__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.GridItem__image__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.GridItem__title {
  margin: 0;
  font-size: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.GridItem:hover .GridItem__title {
  text-decoration: underline;
}

.GridItem__url {
  margin: 0 0 0.25rem;
  color: var(--font-color-secondary);
  text-decoration: none;
}

.GridItem__description {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
