*,
::after,
::before {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
    font: 1rem/1.75 -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

.page {
    min-height: 100%;
    max-width: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.page header {
    flex: 1;
    margin-bottom: 4rem;
}

.lead {
    font-size: large;
}

.photo {
    float: right;
    width: 80px;
    border-radius: 100%;
    margin: 1rem 0 1rem 1.25rem;
}

.page footer {
    color: dimgray;
}

.page footer p {
    display: inline-block;
    margin: 0 1.75rem 0 0;
    line-height: 2.5;
}

a {
    color: grey;
}

a:hover,
a:active,
a:focus {
    color: crimson;
}

ul {
    list-style-type: square;
}

@media (min-width: 750px) {
    .page {
        padding: 4rem;
    }

    .photo {
        width: 100px;
    }
}