---
layout: page
title: Writing
permalink: /writing/
description: "I write about software, technology, and the human condition."
---
<h2>{{ site.time | date: '%Y' }}</h2>
{% for post in site.posts %}
    {% unless post.next %}
        <ol class="c-list">
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

        {% if year != nyear %}
            </ol>
            <h2>{{ post.date | date: '%Y' }}</h2>
            <ol class="c-list">
        {% endif %}
    {% endunless %}

    <li class="c-list__item">
        <h4 class="c-list__title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        {% if post.description %}<p class="c-list__meta">{{ post.description}}</p>{% endif %}
    </li>
{% endfor %}
</ol>

