---
layout: page
title: Writing
show_title: true
permalink: /writing/
description: "I write about software, technology, and the human condition."
---
<ol class="entry-list">
    {% for post in site.posts %}
        <li>
            <h2 class="entry__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="entry__meta">{{ post.date | date: "%-d %B %Y" }} &middot; <span title="{{ post.content | number_of_words }} words">{{ post.content | reading_time }}</span></p>
            {% if post.description %}
                <p class="entry__content">{{ post.description }}</p>
            {% endif %}
        </li>
    {% endfor %}
</ol>
