---
layout: page
title: Writing
permalink: /writing/
description: "I write about software development, technology, and life. Some posts are written in Bulgarian."
---

<p>I write about software development, technology, and life. Some posts are written in Bulgarian. I also keep a collection of <a href="/quotes">quotes</a>.</p>

<hr>

<ul class="c-list">
    {% for post in site.posts %}
        {% unless post.next %}
            <h2>{{ post.date | date: '%Y' }}</h2>
        {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

            {% if year != nyear %}
            <h2>{{ post.date | date: '%Y' }}</h2>
            {% endif %}
        {% endunless %}

        {% include post-list-items.html %}
    {% endfor %}
</ul>
