---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notes");

  return notes.map((note) => ({
    params: { slug: note.slug },
    props: { note },
  }));
}

interface Props {
  note: CollectionEntry<"notes">;
}

const { note } = Astro.props;
const { Content } = await note.render();
---

<BaseLayout title={note.data.title}>
  <h1 class="mb-3 mt-6 text-3xl font-semibold tracking-tight">
    {note.data.title}
  </h1>
  <article class="prose prose-zinc mt-6 prose-p:leading-relaxed">
    <Content />
  </article>
</BaseLayout>
