// Framework overrides.
$heading-size-3:    21px;


// Colours.
$base-bg-color:     #ffffff;
$foot-bg-color:     #edf0f5;
$base-font-color:   #525868;
$alt-font-color:    #888888;
$dark-link-color:   #5a6475;
$accent-color:      #37ac21;
$border-color:      #eaecef;


// Base sizes.
$avatar-size:       75px;
$radius-size:       4px;
$page-width:        624px;
