/**
 * Sizes
 */
$base-font-size: 18px;
$base-line-height: 27px;
$page-width: 35em;
$avatar-size: 60px;


/**
 * Colours
 */
$cerulean: #1193e5;
$carrot-orange: #f28f1b;
$butterfly-bush: #6a4c96;
$trout: #525868;
$silver-chalice: #9a9a9a;
$gallery: #eaeaea;
