// Colours.
$base-bg-color:     #ffffff;
$foot-bg-color:     #f3f4f6;
$base-font-color:   #525868;
$alt-font-color:    #888888;
$dark-link-color:   #5a6475;
$accent-color:      #37ac21;
$border-color:      #eaecef;


// Base sizes.
$base-font-size:    16px;
$base-line-height:  24px;
$avatar-size:       80px;
$radius-size:       5px;
$page-width:        580px;
