/*------------------------------------*\
	$CARD
\*------------------------------------*/
.card {
	@extend .animated;
	@extend .fadeInLeft;
	position: relative;
	max-width: 31.25em; /* 500px */
	margin: 0 auto;
	padding: $base-spacing-unit*1.5;
	background-color: #fff;
	border-radius: 2px;
	@include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px 5px);

	@include media-query(portable) {
		padding: $base-spacing-unit;
	}

	> :last-child {
		margin-bottom: 0;
	}
}


/**
 * Card intro
 */
.card__intro {
	margin-bottom: $base-spacing-unit;
	padding-top: $half-spacing-unit;
	text-align: center;

	> :last-child {
		margin-bottom: 0;
	}
}
	.intro__logo {
		position: absolute;
		top: -43px;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 86px;
		height: 86px;
		border: 3px solid #fff;
		border-radius: 100%;
		@include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 1px);

		&:hover,
		&:active,
		&:focus {
			border-color: $base-link-color;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 100%;
		}

		@include media-query(portable) {
			width: 76px;
			height: 76px;
		}
	}

	.intro__name {
		margin-bottom: 0;
	}

	.intro__tagline {
		font-style: italic;
		color: $alt-font-color;
	}


/**
 * Card main
 */
.card__main {
	margin-bottom: $base-spacing-unit;

	> :last-child {
		margin-bottom: 0;
	}
}


/**
 * Card outro
 */
.card__outro {
	font-style: italic;
	text-align: center;
	color: $alt-font-color;

	> :last-child {
		margin-bottom: 0;
	}
}
	.outro__contacts {
		@extend .cf;
		margin-left: 0;
		list-style: none;

		> li {
			&,
			> a {
				display: inline-block;
				*display: inline;
				zoom: 1;
			}
		}

		li {
			&:before {
				content: "\00A0 \00B7 \00A0";
			}

			&:first-child {
				&:before {
					content: "";
				}
			}
		}
	}
