/*------------------------------------*\
    #ENTRY
\*------------------------------------*/

.entry {}

    .entry__head {
        @include space(margin-bottom);
    }

    .entry__body {}

    .entry__foot {}

    .entry__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .entry__meta {
        margin-bottom: 0;
        color: $color-grey;
        @include font-size($small-font-size);
        text-transform: uppercase;
    }
