/*------------------------------------*\
    #PAGE-NAV
\*------------------------------------*/

.page-nav {
    @include font-size($base-font-size);

    > a {
        color: $base-text-color;
        text-decoration: none;
        letter-spacing: -1px;
    }
}
