/*------------------------------------*\
    #PAGE-CONTENT
\*------------------------------------*/

.page-content {
    @extend %animated;
    @extend %fadeIn;
}

.c-list {
    margin-left: 0;
    list-style-type: none;
}

    .c-list__item {
        @include space(margin-bottom, .4);

        p:last-of-type {
            margin-bottom: 0;
        }
    }

        .c-list__title {
            margin-bottom: 0;
        }

        .c-list__meta {
            display: block;
        }

.page-nav {
    > a {
        @extend .btn;
        @include font-size($base-font-size);
    }
}
