/*------------------------------------*\
	$PAGE
\*------------------------------------*/
html {
	background: #232327 url(../img/bg.jpg) no-repeat center center fixed;
	color: $base-font-color;
	@include background-size(cover);

	@include media-query(portable) {
		font-size: 0.85em;
	}
}

body {
	margin: 7.5%;

	@include media-query(portable) {
		margin: $base-spacing-unit*2.5 5% 5%;
	}
}
