/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

%spaced {
    @include space(margin-top);
    margin-right: 0;
    @include space(margin-bottom);
    margin-left: 0;

    @include mq($page-width) {
        @include space(margin-top, 1.5);
        @include space(margin-bottom, 1.5);
    }
}

/**
 * Headings
 */

h1, h2, h3 {
    @include space(margin-top, 1.5);
    @include space(margin-bottom, .5);
    letter-spacing: -1px;
    font-weight: 500;
}

.entry--page {
    h1, h2, h3 {
        @include font-size($base-font-size);

        &:after {
            content: "—";
            display: block;
            color: $base-text-color;
        }
    }
}

/**
 * Links
 */

a {
    font-weight: 500;
    text-decoration: underline;
    color: $color-links;
    transition: color .1s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        color: $color-links-hover;
    }
}


/**
 * Images
 */

figure {
    @extend %spaced;
    @include space(margin-right, -1);
    @include space(margin-left, -1);

    @include mq($page-width) {
        @include space(margin-right, -1.5);
        @include space(margin-left, -1.5);
    }
}

    figcaption {
        @include font-size($small-font-size);
        color: $color-grey;
        text-align: center;
    }


/**
 * Quotes
 */

blockquote {
    @extend %spaced;
    @include space(padding-left);
    border-left: .25em solid $color-grey-light;
    color: $color-grey-dark;

    p:last-of-type {
        margin-bottom: 0;
    }

    .source {
        display: block;
        text-indent: 0;

        &:before {
            content: "– ";
        }
    }
}

q {
    font-style: italic;
}

/**
 * Misc
 */

strong, b,
dt {
    font-weight: 500;
}

hr {
    border: 0;
    height: .1em;
    background: linear-gradient(90deg, transparent, $color-grey-light, transparent);
}
