/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

%spaced {
    @include space(margin-top);
    margin-right: 0;
    @include space(margin-bottom);
    margin-left: 0;

    @include media-query($page-width) {
        @include space(margin-top, 1.5);
        @include space(margin-bottom, 1.5);
    }
}

/**
 * Headings
 */

h1, h2, h3 {
    @include space(margin-top);
    @include space(margin-bottom, .5);
    @include font-weight("bold");
    letter-spacing: -1px;

    @include media-query($page-width) {
        @include space(margin-top, 1.5);
    }
}

h3 {
    color: $color-grey;
}

/**
 * Links
 */

a {
    @include font-weight("bold");
    text-decoration: underline;
    color: $color-links;
    transition: color .1s ease-in-out;

    &:hover,
    &:active,
    &:focus {
        color: $color-links-hover;
    }
}

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
    cursor: pointer;
    overflow: visible;
    @include space(padding-top, .25);
    @include space(padding-right, .5);
    @include space(padding-bottom, .25);
    @include space(padding-left, .5);
    border: 2px solid $color-links;
    border-radius: $border-radius;
    letter-spacing: -1px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        border-color: $color-links-hover;
    }
}


/**
 * Images
 */

figure {
    @extend %spaced;
    @include space(margin-right, -1);
    @include space(margin-left, -1);

    @include media-query($page-width) {
        @include space(margin-right, -1.5);
        @include space(margin-left, -1.5);
    }

    > img {
        border-radius: $border-radius;
    }
}

    figcaption {
        @include font-size($small-font-size);
        color: $color-grey;
        text-align: center;
    }


/**
 * Quotes
 */

blockquote {
    @extend %spaced;
    @include space(padding-left);
    border-left: .25em solid $color-grey-light;
    color: $color-grey;

    p:last-of-type {
        margin-bottom: 0;
    }

    .source {
        display: block;
        text-indent: 0;

        &:before {
            content: "– ";
        }
    }
}

q {
    font-style: italic;
}


/**
 * Code
 */
code, kbd, samp {
    font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

pre {
    @include font-size($small-font-size - 2px);
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}


/**
 * Misc
 */

strong, b,
dt {
    @include font-weight("bold");
}

hr {
    @extend %spaced;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    background: linear-gradient(90deg, white, $color-grey-light, white);
}
