/*------------------------------------*\
    #PAGE-FOOT
\*------------------------------------*/

.page-foot {
    @extend %section;
    background-color: $foot-bg-color;
    text-align: center;

    .container {
        > :last-child {
            margin-bottom: 0;
        }
    }
}
