/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    @extend %section;
    padding-bottom: 0;
}

.site-logo {
    float: left;

    > img {
        display: block;
        width: $avatar-size;
        height: $avatar-size;
        background-image: url(/assets/images/avatar.jpg);
        background-size: $avatar-size $avatar-size;
        border-radius: $radius-size;

        @media (max-width: 30.0625em) {
            width: $avatar-size - 10px;
            height: $avatar-size - 10px;
            background-size: $avatar-size - 10px $avatar-size - 10px;
        }
    }

    .site-logo--current {
        cursor: text;
    }
}

.site-nav {
    float: left;

    > a {
        display: inline-block;
        margin-left: $base-spacing-unit*1.25;
        text-decoration: none;
        color: $dark-link-color;
        font-weight: 700;
        line-height: $avatar-size;

        @media (max-width: 30.0625em) {
            margin-left: $base-spacing-unit;
            line-height: $avatar-size - 10px;
        }

        &:hover,
        &:active,
        &:focus {
            color: $accent-color;
        }
    }

    .site-nav--current {
        cursor: text;
        color: $accent-color;
    }
}
