/*------------------------------------*\
    $PAGE-FOOT
\*------------------------------------*/
.page-foot {
    padding: $base-spacing-unit*1.5 0;
    background-color: $foot-bg-color;

    @media (max-width: 481px) {
        padding: $base-spacing-unit 0;
    }
}

.profile {
    margin-bottom: 0;
}

    .profile__avatar {
        display: inline-block;
        vertical-align: bottom;
        width: 65px;
        height: 65px;
        border-radius: 100%;

        @media (max-width: 481px) {
            display: none;
        }
    }
