/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    border-top: .5em solid #f1f1f1;
    border-bottom: .5em solid #f1f1f1;
    font-family: Lato, sans-serif;
    color: $trout;
    -webkit-font-smoothing: antialiased;

    @include mq($page-width) {
        font-size: 90%;
    }
}

body {
    @include space(padding);
}

%wrap {
    max-width: $page-width;
    margin: 0 auto;
}
