/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html {
    background-color: $foot-bg-color;
    font-family: Lato, sans-serif;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @media (max-width: 481px) {
        font-size: 87.5%;
    }
}

.wrap {
    @extend %clearfix;
    max-width: halve($base-spacing-unit)*2 + $page-width;
    margin: 0 auto;
    padding: 0 halve($base-spacing-unit);
}

%section {
    padding: $base-spacing-unit*2 0;
    background-color: $base-bg-color;

    @media (max-width: 481px) {
        padding: $base-spacing-unit 0;
    }
}
