/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    @extend %wrap;
}

.site-nav {
    @include space(margin-bottom);

    > a {
        display: inline-block;
        @include space(margin-left);
        @include font-size(16px);
        line-height: $avatar-size;
        text-transform: uppercase;
        color: $trout;
        text-decoration: none;

        &.active {
            color: $cerulean;
        }

        &:hover {
            color: $cerulean;
        }

        > img {
            vertical-align: bottom;
            border-radius: 100%;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
