/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    border-top: .5em solid lighten($color-grey-light, 5);
    border-bottom: .5em solid lighten($color-grey-light, 5);
    color: $base-text-color;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;

    @include mq($page-width) {
        font-size: 95%;
    }
}

body {
    @include space(padding-top, 2);
    @include space(padding-right);
    @include space(padding-bottom, 2);
    @include space(padding-left);

    @include mq($page-width) {
        @include space(padding-top);
        @include space(padding-bottom);
    }
}

.page {
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
}
