/*------------------------------------*\
    #PORTFOLIO
\*------------------------------------*/

.portfolio {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $base-spacing-unit*2;

        @media (max-width: 30.0625em) {
            margin-bottom: $base-spacing-unit;
        }

        &:after {
            @extend %sep;
            content: "";
            display: block;
        }

        &:last-child {
            margin-bottom: 0;

            &:after {
                display: none;
            }
        }
    }
}

.project {
    > :last-child {
        margin-bottom: 0;
    }

    .project__title {
        > a {
            float: right;
            color: $base-font-color;
            @include font-size(18px);
            line-height: 48px;

            &:hover,
            &:active,
            &:focus {
                color: $accent-color;
            }

            &:after {
                content: " »";
            }
        }
    }
}
