/*------------------------------------*\
    #POSTS
\*------------------------------------*/

.entry {
    .entry__head {
        margin-bottom: $base-spacing-unit;

        > h1 {
            margin-bottom: $base-spacing-unit/4;
            line-height: 1.25;
        }
    }

    .entry__meta {
        margin-bottom: 0;
        color: $alt-font-color;
        text-transform: uppercase;
        @include font-size(14px);
    }

    .entry__body {
        > p:first-of-type {
            @extend %lead;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }
}

.posts {
    margin: 0;
    list-style: none;

    > li {
        margin-bottom: $base-spacing-unit*2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .entry__head {
        margin-bottom: 0;

        > h1 {
            margin-bottom: $base-spacing-unit/4;

            > a {
                display: block;
                color: $base-font-color;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    color: $accent-color;
                }
            }
        }
    }
}
