/*------------------------------------*\
    #POSTS
\*------------------------------------*/

.post {
    .post__head {
        margin-bottom: $base-spacing-unit;
    }

    .post__meta {
        margin-bottom: 0;
        color: $alt-font-color;
        text-transform: uppercase;
        @include font-size(14px);
    }

    .post__content {
        > p:first-child {
            font-size: 1.125em;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        margin-bottom: $base-spacing-unit/4;
        line-height: 1.25;
    }
}

.posts-list {
    margin: 0;
    list-style: none;

    > li {
        margin-bottom: $base-spacing-unit*2;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .post__head {
        margin-bottom: 0;

        > h1 {
            margin-bottom: $base-spacing-unit/4;

            > a {
                display: block;
                color: $base-font-color;
                text-decoration: none;

                &:hover,
                &:active,
                &:focus {
                    color: $accent-color;
                }
            }
        }
    }
}

.page {
    > h1 {
        margin-bottom: $base-spacing-unit;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.blog {
    > :last-child {
        margin-bottom: 0;
    }
}
