/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3 {
    letter-spacing: -1px;

    > small {
        margin-left: $base-spacing-unit/4;
        font-size: 75%;
        color: $alt-font-color;

        a {
            color: inherit;

            &:hover,
            &:active,
            &:focus {
                color: $accent-color;
            }

            &:after {
                content: " »";
            }
        }
    }
}

h3 {
    font-weight: 400;
}


/**
 * Quotes
 */
blockquote {
    margin-left: 0;
    padding-left: $base-spacing-unit;
    border-left: 4px solid $border-color;
    color: $alt-font-color;

    @media (max-width: 30.0625em) {
        padding-left: $base-spacing-unit/2;
    }
}

q {
    font-style: italic;
}


/**
 * Images
 */
figure {
    margin: 0 0 $base-spacing-unit;

    img {
        max-width: 100% !important;
        height: auto !important;
        border-radius: $radius-size;
    }

    figcaption {
        margin-top: $base-spacing-unit/2;
        color: $alt-font-color;
        @include font-size(14px);
    }
}


/**
 * Lists
 */
li {
    > ul,
    > ol {
        margin-left: $base-spacing-unit;
    }
}


/**
 * Links
 */
a {
    color: $accent-color;
    text-decoration: underline;
    transition: all 0.1s;

    &:hover,
    &:active,
    &:focus {
        color: lighten($accent-color, 10);
    }
}


/**
 * Rules
 */
%sep {
    width: 25%;
    margin: $base-spacing-unit*2 auto;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: none;
    border-right: none;

    @media (max-width: 30.0625em) {
        margin: $base-spacing-unit auto;
    }
}

hr {
    @extend %sep;
}


/**
 * Paragraphs
 */
.lead,
%lead {
    font-size: 1.125em;
}

.callout {
    padding: $base-spacing-unit/2 $base-spacing-unit;
    background-color: $foot-bg-color;
    border-radius: $radius-size;
    font-style: italic;
    font-size: 0.875em;

    @media (max-width: 30.0625em) {
        padding: $base-spacing-unit/2;
    }
}
