/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    letter-spacing: -1px;
}

h3 {
    line-height: 2;
    font-weight: 400;
}


/**
 * Links
 */
a {
    font-weight: 700;
    color: $cerulean;

    &:hover {
        color: darken($cerulean, 10);
    }

    &:active {
        color: $carrot-orange;
    }
}


/**
 * Images
 */
figure {
    @include space(margin-top, 2);
    @include space(margin-right, -2);
    @include space(margin-bottom, 2);
    @include space(margin-left, -2);
    text-align: center;

    @include mq(48em) {
        @include space(margin-top);
        @include space(margin-right, -1);
        @include space(margin-bottom);
        @include space(margin-left, -1);
    }
}

figcaption {
    color: $silver-chalice;
    font-size: 85%;
}

/**
 * Quotes
 */
blockquote {
    @include space(margin-top, 2);
    @include space(margin-right, -2);
    @include space(margin-bottom, 2);
    @include space(margin-left, -2);
    text-align: center;
    font-size: 125%;
    font-style: italic;

    @include mq(48em) {
        @include space(margin-top);
        @include space(margin-bottom);
        margin-right: 0;
        margin-left: 0;
        font-size: 115%;
    }
}

q {
    font-style: italic;
}


/**
 * Misc
 */
hr {
    @include space(margin-top, 1.5);
    @include space(margin-bottom, 1.5);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-top: 1px solid $gallery;
    border-right: none;
    border-bottom: 1px solid $gallery;
    border-left: none;
}

mark {
    background-color: lighten($cerulean, 45);
    color: inherit;
}
