/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html {
    background-color: $foot-bg-color;
    font-family: Lato, sans-serif;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    @include media-query(palm) {
        font-size: 87.5%;
    }
}

.wrap {
    @extend .cf;
    max-width: $half-spacing-unit*2 + $page-width;
    margin: 0 auto;
    padding: 0 $half-spacing-unit;
}

%section {
    padding: $base-spacing-unit*2 0;
    background-color: $base-bg-color;

    @include media-query(palm) {
        padding: $base-spacing-unit 0;
    }
}
