
        <footer class="page-foot" role="contentinfo">
            <div class="wrap">
                <div class="profile">
                    <img class="profile__avatar" src="/assets/images/avatar.jpg" alt="Angel Paunchev" width="80" height="80">
                    <div>
                        <p>My name is <a href="/about/">Angel Paunchev</a> and I’m a web developer from Bulgaria. I <a href="/portfolio/">build</a> tools for the web and write about design, development, technology, and more.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10660049-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script> -->
    </body>
</html>
