<footer class="page-foot">
    <div class="col">
        <p id="copyright"></p>
    </div>
    <div class="col">
        <a class="social-link" href="https://twitter.com/apaunchev"><i class="fa fa-twitter"></i></a>
        <a class="social-link" href="https://instagram.com/apaunchev"><i class="fa fa-instagram"></i></a>
        <a class="social-link" href="https://github.com/apaunchev"><i class="fa fa-github"></i></a>
        <a class="social-link" href="https://linkedin.com/in/apaunchev"><i class="fa fa-linkedin"></i></a>
        <a class="social-link" href="mailto:apaunchev@gmail.com"><i class="fa fa-paper-plane"></i></a>
    </div>
</footer>
