<header class="page-head">
    <a class="page-logo" href="/">
        <img src="/images/avatar.jpg" alt="Angel Paunchev">
        Angel Paunchev
    </a>

    <nav class="site-nav">
        <a{% if page.url == "/" %} class="active"{% endif %} href="/">About</a><!--
        --><a{% if page.url == "/writing/" or page.date %} class="active"{% endif %} href="/writing/">Writing</a><!--
        --><a{% if page.url == "/quotes/" %} class="active"{% endif %} href="/quotes/">Quotes</a>
    </nav>
</header>
