<!DOCTYPE html>
<html lang="en" class="page {{ page.page_class }}">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, minimum-scale=1.0">

        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//www.google-analytics.com">
        <link rel="dns-prefetch" href="//themes.googleusercontent.com">

        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>

        <meta name="description" content="{{ site.description }}">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
        <link rel="stylesheet" href="/assets/css/style.min.css">

        <link rel="shortcut icon" href="/icon.png">
        <link rel="apple-touch-icon-precomposed" href="/icon.png">

        <meta property="og:image" content="{{ site.url }}/assets/images/og-image.jpg">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}">
        <meta property="og:site_name" content="Angel Paunchev">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">
        {% if page.custom_type == 'article' %}<meta property="og:type" content="article">{% endif %}

        <meta name="twitter:card" content="summary">
        <meta name="twitter:creator" content="@apaunchev">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}">
        <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 156 }}">
    </head>

    <body>
        <header class="page-head" role="banner">
            <div class="wrap">
                <a class="site-logo" href="/">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Angel Paunchev" width="80" height="80">
                </a>

                <nav class="site-nav" role="navigation">
                    <a class="site-nav__portfolio" href="/portfolio">Portfolio</a>
                    <a class="site-nav__about" href="/about">About</a>
                </nav>
            </div>
        </header>
