/*------------------------------------*\
    $PAGE-HEAD
\*------------------------------------*/
.page-head {
    @extend %section;
    padding: $base-spacing-unit*2 0;

    @include media-query(palm) {
        padding: $base-spacing-unit 0;
    }
}

.site-logo {
    float: left;
    border-radius: $radius-size;

    > img {
        display: inline-block;
        width: $avatar-size;
        height: $avatar-size;
        background-image: url(/assets/images/avatar.jpg);
        background-size: $avatar-size $avatar-size;
        border-radius: $radius-size;
        vertical-align: bottom;

        @include media-query(palm) {
            width: $avatar-size - 10px;
            height: $avatar-size - 10px;
            background-size: $avatar-size - 10px $avatar-size - 10px;
        }
    }

    .page--home & {
        cursor: default;
    }
}
