/*------------------------------------*\
    $PAGE-CONTENT
\*------------------------------------*/
.page-content {
    @extend %section;
    padding-top: 0;
}

@each $page in portfolio, about, single, notfound {
    .page--#{$page} {
        .page-content {
            &:after {
                @extend .large;
                content: "\2766";
                display: block;
                text-align: center;
                color: $border-color;
                line-height: 1;
            }
        }

        .post {
            &:after {
                display: none;
                margin: 0;
                border: none;
            }

            @include media-query(palm) {
                margin-bottom: $base-spacing-unit;
            }
        }
    }
}
