/**
 * Tables
 */
table {
    width: 100%;
}
th,
td {
    padding: $half-spacing-unit / 2;
    text-align: left;
}


// Cell alignments.
[colspan] {
    text-align: center;
}
[colspan="1"] {
    text-align: left;
}
[rowspan] {
    vertical-align: middle;
}
[rowspan="1"] {
    vertical-align: top;
}


// Bordered tables.
.table--bordered {
    th,
    td {
        border: 1px solid;

        &:empty {
            border: none;
        }
    }

    thead tr:last-child th {
        border-bottom-width: 2px;
    }

    tbody tr th:last-of-type {
        border-right-width: 2px;
    }
}


// Striped tables.
.table--striped {
    tbody tr:nth-of-type(odd) {
        background-color: #ffc;
    }
}
