@if $use-nav == true {
/*------------------------------------*\
    $NAV
\*------------------------------------*/
// Nav abstraction.
// As per: csswizardry.com/2011/09/the-nav-abstraction
.nav {
    @extend .cf;
    margin-left: 0;
    list-style: none;

    > li {
        &,
        > a {
            display: inline-block;
           *display: inline;
            zoom: 1;
        }
    }
}


// `.nav--stacked` extends `.nav` and throws the list into vertical mode.
.nav--stacked {
    > li {
        display: list-item;

        > a {
            display: block;
        }
    }
}


// `.nav--banner` extends `.nav` and centres the list, e.g.:
.nav--banner {
    text-align: center;
}


// Extends `.nav`. and gives nav links a big, blocky hit area.
.nav--block {
    line-height: 1;

    // Remove whitespace caused by `inline-block`.
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
    white-space: nowrap;

    > li {
        letter-spacing: normal;
        word-spacing: normal;

        > a {
            padding: $half-spacing-unit;
        }
    }
}


// Extends `.nav` and forces it to occupy 100% of the available width of its parent.
.nav--fit {
    display: table;
    width: 100%;

    > li {
        display: table-cell;

        > a {
            display: block;
        }
    }
}


// Extends `.nav` and makes a list of keywords.
.nav--keywords {
    > li {
        &:after {
            content: "\002C" "\00A0";
        }

        &:last-child:after {
            display: none;
        }
    }
}
} // endif
