.accordion {
  button {
    display: flex;
    align-items: center;
    padding: 0;
    background: 0;
    border: 0;
    font-size: var(--text-unit);
    cursor: pointer;
    color: var(--color-contrast-highest);
    font-weight: 500;
  }

  .icon {
    margin-inline-end: var(--space-xxs);
  }
}
