.article {
  max-width: var(--layout-narrow);
  min-height: 65vh;
  margin-left: auto;
  margin-right: auto;

  > :last-child {
    margin-bottom: 0;
  }
}

.article-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-base);
}
