.bookmark {
  display: flex;
  margin: var(--space-base) 0;
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--radius);
  overflow: hidden; // For the border radius to work with nested images

  &:hover,
  &:focus {
    .bookmark__url {
      color: var(--color-contrast-higher);
      transition: color 0.2s var(--transition);
    }
  }

  &--loading {
    .bookmark__image {
      width: 100px;
      height: 100px;

      @include breakpoint(sm) {
        width: 140px;
        height: 140px;
      }
    }

    .bookmark__title {
      width: 70%;
      height: 25px;
    }

    .bookmark__url {
      width: 30%;
      height: 15;
    }

    .bookmark__description {
      height: 15px;
    }

    .bookmark__url,
    .bookmark__description {
      margin-top: var(--space-xs);
    }

    .bookmark__image,
    .bookmark__title,
    .bookmark__url,
    .bookmark__description {
      display: block;
      background-color: var(--color-contrast-lower);
      animation: pulse 1s infinite ease-in-out;
    }
  }
}

.bookmark__image {
  flex-shrink: 0;

  img {
    width: 100px;
    height: 100%;
    object-fit: cover;

    @include breakpoint(sm) {
      width: 140px;
    }
  }
}

.bookmark__content {
  width: 100%;
  padding: var(--space-xs) var(--space-sm);

  > :last-child {
    margin-bottom: 0;
  }
}

.bookmark__title {
  @include line-clamp(1);
  margin-bottom: 0;
  font-size: var(--text-lg);
  font-weight: 600;
}

.bookmark__url {
  @include line-clamp(1);
  margin-bottom: var(--space-xs);
  font-size: var(--text-sm);
  font-weight: 400;
}

.bookmark__description {
  @include line-clamp(2);
  font-size: var(--text-sm);
  font-weight: 400;
}
