@use '../base/mixins' as *;

.books:first-of-type .books-header {
  margin-block-start: 0;
}

.books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--space-sm);

  span {
    color: var(--color-contrast-high);
    font-size: var(--text-sm);
    letter-spacing: 0;
  }
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
  grid-gap: var(--space-md);

  .card {
    padding: 0;
  }

  .card__spacer {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxxs);
    padding: var(--space-xs);
  }

  .card__title {
    font-size: var(--text-sm);
    font-weight: 500;
  }

  .card__description {
    @include line-clamp(1);
    font-size: var(--text-xs);
  }

  .card__meta {
    font-size: var(--text-xs);
  }
}
