button,
.button {
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--radius);
  background-color: inherit;
  padding: var(--space-xs) var(--space-base);
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-contrast-high);
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s,
    background-color 0.2s var(--transition);

  &:hover,
  &:focus {
    color: var(--color-contrast-higher);
    background-color: var(--color-bg);
    border-color: var(--color-accent);
  }

  > svg {
    margin-right: var(--space-2xs);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-base);
}
