@use '../base/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-sm);
  background-color: var(--color-bg-card);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-xs);
  color: var(--color-contrast-higher);
}

.card__header {
  font-size: var(--text-unit);
  color: var(--color-contrast-high);

  > :last-child {
    margin-block-end: 0;
  }
}

.card__body {
  > a {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxxxs);
    border: 0;

    &:hover,
    &:focus-visible {
      color: inherit;

      .card__title {
        color: var(--color-brand);
      }
    }
  }

  > :last-child {
    margin-block-end: 0;
  }
}

.card__image {
  display: flex;
  max-width: 72px;

  @include breakpoint(sm) {
    max-width: 96px;
  }
}

.card__title {
  @include line-clamp(2);
  margin: 0;
  color: var(--color-contrast-higher);
  font-size: var(--text-md);
  font-weight: 600;
  transition: color 0.2s var(--ease-in-out);
}

.card__description {
  @include line-clamp(4);
  margin: 0;
  color: var(--color-contrast-higher);
  font-size: var(--text-unit);
  font-weight: 400;
}

.card__quote {
  padding-left: var(--space-xs);
  border-left: 3px solid var(--color-brand);
  font-size: var(--text-unit);
  color: var(--color-contrast-higher);
  font-weight: 400;
}

.card__meta {
  @include line-clamp(1);
  margin: 0;
  font-size: var(--text-unit);
  color: var(--color-contrast-high);
  font-weight: 400;
}

.card__footer {
  margin-top: auto;
  margin-left: auto;

  a::after {
    content: ' »';
  }
}
