.code-block {
  position: relative;

  .copy-button {
    position: absolute;
    top: var(--space-unit);
    right: var(--space-unit);
    padding-block: var(--space-xxs);
    padding-inline: var(--space-xs);
    background-color: var(--color-bg);
    border: 0;
    border-radius: var(--radius-md);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: var(--text-xs);
    color: var(--color-contrast-higher);
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-contrast-low);
    }

    &:disabled {
      color: var(--color-contrast-medium);
    }
  }
}
