.code-block {
  position: relative;
  margin-block: var(--space-unit);
  margin-inline: -5rem; // Expand horizontally to avoid scroll bars for long code

  .copy-button {
    position: absolute;
    top: var(--space-xs);
    right: var(--space-xs);
    padding-block: var(--space-xxs);
    padding-inline: var(--space-xs);
    background-color: var(--color-bg-page);
    border: 0;
    border-radius: var(--radius-md);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: var(--text-xs);
    color: var(--color-contrast-higher);
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: var(--color-contrast-low);
    }

    &:disabled {
      color: var(--color-contrast-medium);
      cursor: not-allowed;
    }
  }
}
