.content-filters {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  margin: var(--space-lg) 0;
}

.content-filters-item {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2xs);
  width: 100%;

  @include breakpoint(sm) {
    width: auto;

    &--push {
      margin-left: auto;
    }
  }

  .form-label {
    font-size: var(--text-sm);
    font-weight: 600;
  }

  .form-control {
    width: 100%;

    @include breakpoint(sm) {
      width: 15rem;
    }
  }
}
