.site-header {
  padding: var(--space-base);
  border-bottom: 1px solid var(--color-contrast-lower);
  color: var(--color-contrast-high);
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-2xs);
  max-width: var(--layout-narrow);
  margin: 0 auto;
}

.nav-item {
  display: flex;
  flex: 0 1 calc(50% - var(--space-2xs));
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  border: 0;
  border-radius: var(--radius);
  color: var(--color-contrast-high);
  font-size: var(--text-sm);

  @include breakpoint(sm) {
    flex-basis: calc(25% - var(--space-2xs));
  }

  &:hover,
  &:focus {
    color: var(--color-contrast-higher);
    background-color: var(--color-contrast-lower);
  }

  &--active {
    color: var(--color-accent);
    background-color: var(--color-contrast-lower);

    &:hover,
    &:focus {
      color: var(--color-accent);
      background-color: var(--color-contrast-lower);
    }
  }

  > svg {
    margin-right: var(--space-2xs);
  }
}

.site-main {
  width: 100%;
  max-width: var(--layout-wide);
  margin: 0 auto;
  padding: var(--space-base) var(--space-base) 0;
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-base);
  margin: var(--space-2xl) auto 0;
  padding: var(--space-base) 0;
  background-color: var(--color-bg);
  border-top: 1px solid var(--color-contrast-lower);
  font-size: var(--text-sm);
  color: var(--color-contrast-medium);
  text-align: center;

  @include breakpoint(sm) {
    flex-direction: row;
    justify-content: space-between;
  }

  > * {
    margin: 0;
  }
}
