@use '../base/mixins' as *;

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: var(--space-md);
  margin-block: var(--space-unit);
}

.content-grid-item {
  a {
    display: block;
    width: 100%;
    border: 0;
    color: var(--color-contrast-higher);
    font-weight: 400;

    &:hover,
    &:focus-visible {
      color: var(--color-contrast-higher);

      .content-grid-item__title {
        color: var(--color-brand);
      }
    }
  }
}

.content-grid-item__figure {
  float: left;
  margin-inline-end: var(--space-sm);
  width: 5rem;

  img,
  svg {
    border-radius: var(--radius-md);
  }
}

.content-grid-item__title {
  @include line-clamp(2);
  margin: 0;
  font-size: var(--text-lg);
  font-weight: 500;
  transition: color 0.2s var(--ease-in-out);
}

.content-grid-item__subtitle {
  @include line-clamp(2);
  margin: 0;
  font-size: var(--text-md);
  font-weight: 400;
  color: var(--color-contrast-high);
}

.content-grid-item__description {
  @include line-clamp(4);
  margin-block: var(--space-xxxs) 0;
  font-size: var(--text-sm);
}

.content-grid-item__quote {
  margin-block: var(--space-xxxs) 0;
  font-size: var(--text-sm);
}
