.content-placeholder {
  .line {
    margin: var(--space-xs) 0;
    height: 1rem;
    animation: pulse 1s infinite ease-in-out;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
