.content-card {
  a {
    display: block;
    width: 100%;
    border: 0;
    color: var(--color-contrast-higher);
    font-weight: 400;

    &:hover,
    &:focus {
      color: var(--color-contrast-higher);

      h2 {
        color: var(--color-primary);
      }
    }
  }

  h2 {
    transition: color 0.2s var(--transition);
  }

  h2,
  h3 {
    margin: 0;
  }

  p,
  ul {
    margin-bottom: 0;
    margin-top: var(--space-xs);
    font-size: var(--text-sm);
  }
}

.content-card__figure {
  float: right;
  margin: 0 0 var(--space-2xs) var(--space-base);
  width: 5rem;

  img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: var(--radius);
  }
}

.content-card__title {
  @include line-clamp(2);

  font-size: var(--text-xl);
}

.content-card__subtitle {
  font-size: var(--text-lg);
  font-weight: 400;
  color: var(--color-contrast-high);
}

.content-card__description {
  @include line-clamp(4);
}
