.content-link {
  padding: var(--space-base);
  border: 0;
  border-radius: var(--radius);
  background-color: var(--color-bg);
  font-weight: 400;
  color: var(--color-contrast-highest);

  .content-link__title::after {
    content: '→';
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s var(--transition);
  }

  &:hover,
  &:focus {
    background-color: var(--color-contrast-lower);
    color: var(--color-contrast-highest);

    .content-link__title::after {
      opacity: 1;
      transform: translate(8px);
    }
  }

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }
}
