@use '../base/mixins' as *;

.header {
  display: flex;
  align-items: center;
  column-gap: var(--space-unit);

  @include breakpoint(sm) {
    justify-content: space-between;
  }
}

.header__image {
  display: flex;
  border: 2px solid transparent;
  min-width: 68px; // 64px for image and 4px for borders
  max-width: 68px;

  &:hover,
  &:focus-visible {
    border-color: var(--color-brand);
  }
}
