.intro {
  .photo {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: var(--space-lg);
    margin-bottom: var(--space-sm);

    @include breakpoint(sm) {
      width: 140px;
      height: 140px;
    }

    img {
      border-radius: 100%;
    }
  }
}
