.page-header {
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-unit);

  &:empty {
    margin-block-end: 0;
  }

  &--centered {
    text-align: center;
  }
}

.page-header__title {
  margin-block-end: 0;
  font-size: var(--text-xxxxl);
}

.page-header__subtitle {
  margin-block-end: 0;
  font-size: var(--text-xl);
  line-height: var(--heading-line-height);
  color: var(--color-contrast-high);
}

.page-header__meta {
  margin-block-start: var(--space-xxs);
}
