.photos-grid {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(10rem, 1fr));
  gap: 0.5rem;

  @include breakpoint(sm) {
    --columns: 3;
  }

  @include breakpoint(md) {
    --columns: 4;
  }
}

.photos-grid__item {
  position: relative;
  width: 100%;
  height: 20vh;

  a {
    display: flex;
    border: 0;
    transition: opacity 0.2s var(--transition);
    cursor: zoom-in;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }

  img {
    border-radius: var(--radius);
  }
}
