---
import ContentLink from "../components/ContentLink.astro";
import BaseLayout from "../layouts/Base.astro";

const notes = await Astro.glob("./notes/*.md");
---

<BaseLayout title="Notes">
  <h1>Notes</h1>
  {
    notes.map((note) => (
      <ContentLink href={note.url!} title={note.frontmatter.title} />
    ))
  }
</BaseLayout>
