@if $use-media == true {
/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
// Place any image- and text-like content side-by-side.
// As per: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
.media {
    @extend %sass-margin-bottom;
    @extend .cf;
    display: block;
}
    .media__img {
        float: left;
        margin-right: $base-spacing-unit;
    }

    // Reversed image location (right instead of left).
    .media__img--rev {
        float: right;
        margin-left: $base-spacing-unit;
    }

    .media__img,
    .media__img--rev {
        img {
            display: block;
        }
    }

    .media__body {
        overflow: hidden;

        &,
        & > :last-child {
            margin-bottom: 0;
        }
    }
} // endif
