:root {
  --color-primary: hsl(262, 83%, 58%);
  --color-primary-light: hsl(262, 83%, 95%);

  --color-bg: hsl(240, 0%, 100%);
  --color-contrast-lower: hsl(240, 0%, 95%);
  --color-contrast-low: hsl(240, 0%, 85%);
  --color-contrast-medium: hsl(240, 0%, 60%);
  --color-contrast-high: hsl(240, 0%, 40%);
  --color-contrast-higher: hsl(240, 0%, 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(240, 0%, 5%);
    --color-contrast-lower: hsl(240, 0%, 15%);
    --color-contrast-low: hsl(240, 0%, 25%);
    --color-contrast-medium: hsl(240, 0%, 60%);
    --color-contrast-high: hsl(240, 0%, 75%);
    --color-contrast-higher: hsl(240, 0%, 95%);
  }
}
