:root {
  --form-control-padding-y: var(--space-2xs);
  --form-control-padding-x: var(--space-xs);
  --form-control-radius: 0.25rem;
  --form-control-font-size: 1rem;
}

.form-control {
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  font-size: var(--form-control-font-size);
  line-height: 1.3;
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--form-control-radius);
  background-color: var(--color-bg);
  transition: 0.2s;
  color: var(--color-contrast-high);

  &::placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
  }

  &:focus {
    outline: none;
    border-color: var(--color-accent);
  }

  &--select {
    padding-right: calc(var(--form-control-padding-x) * 3);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9IiM1ODYwNjkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQuNDI3IDkuNDI3bDMuMzk2IDMuMzk2YS4yNTEuMjUxIDAgMDAuMzU0IDBsMy4zOTYtMy4zOTZBLjI1LjI1IDAgMDAxMS4zOTYgOUg0LjYwNGEuMjUuMjUgMCAwMC0uMTc3LjQyN3pNNC40MjMgNi40N0w3LjgyIDMuMDcyYS4yNS4yNSAwIDAxLjM1NCAwTDExLjU3IDYuNDdhLjI1LjI1IDAgMDEtLjE3Ny40MjdINC42YS4yNS4yNSAwIDAxLS4xNzctLjQyN3oiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
}

.form-control[disabled],
.form-control[readonly] {
  cursor: not-allowed;
}

.form-label {
  display: inline-block;
}
