@use '../base/mixins' as *;

:root {
  --space-base: 1rem;

  @include breakpoint(sm) {
    --space-base: 1.25rem;
  }
}

:root,
* {
  --space-2xs: calc(0.25 * var(--space-base));
  --space-xs: calc(0.5 * var(--space-base));
  --space-sm: calc(0.75 * var(--space-base));
  --space-lg: calc(1.25 * var(--space-base));
  --space-xl: calc(2 * var(--space-base));
  --space-2xl: calc(2.75 * var(--space-base));
}
