:root {
  --font-primary: 'Inter', sans-serif;
  --text-base: 1rem;
  --body-line-height: 1.5;
  --heading-line-height: 1.4;
}

:root,
* {
  --text-xs: calc(0.75 * var(--text-base));
  --text-sm: calc(0.875 * var(--text-base));
  // --text-base
  --text-lg: calc(1.125 * var(--text-base));
  --text-xl: calc(1.25 * var(--text-base));
  --text-2xl: calc(1.33 * var(--text-base));
  --text-3xl: calc(1.5 * var(--text-base));
  --text-4xl: calc(2 * var(--text-base));
}

@include breakpoint(sm) {
  :root {
    --text-base: 1.125rem;
  }
}

body {
  font-size: var(--text-base);
  font-family: var(--font-primary);
  color: var(--color-contrast-higher);
}

h1,
h2,
h3,
h4 {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
  letter-spacing: -0.025em;
  margin-bottom: var(--space-sm);
}

h2,
h3,
h4 {
  margin-top: var(--space-lg);
  font-weight: 600;
}

h1 {
  font-size: var(--text-4xl);
  font-weight: 700;
}

h2 {
  font-size: var(--text-3xl);
}

h3 {
  font-size: var(--text-2xl);
}

h4 {
  font-size: var(--text-xl);
}

small {
  font-size: var(--text-sm);
}

p,
blockquote,
ul li,
ol li {
  line-height: var(--body-line-height);
}

ul,
ol,
p,
blockquote {
  margin-bottom: var(--space-base);
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style-type: decimal;
}

img {
  display: block;
  margin: 0 auto;
}

hr,
.hr {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
  width: 100%;
  border: 0;
  border-top: 2px solid var(--color-contrast-lower);
}

.hr--large {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.hr--transparent {
  border-color: transparent;
}

a {
  color: var(--color-contrast-high);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid var(--color-contrast-low);
  transition: color 0.2s, border-color 0.2s,
    background-color 0.2s var(--transition);

  &:hover,
  &:focus {
    border-color: var(--color-accent);
    color: var(--color-contrast-higher);
  }
}

b,
strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

code,
pre,
.remark-highlight {
  font-size: var(--text-sm);
  line-height: 1.4;
  font-family: Monaco, Consolas, monospace;
  font-style: normal;
  word-break: break-word;
}
