@use '../base/mixins' as *;

:root {
  // Font family
  --font-primary: 'Inter', sans-serif;

  // Font size
  --text-base-size: 1rem;
  --text-scale-ratio: 1.133;

  // Font weight
  --body-font-weight: 400;

  // Line height
  --body-line-height: 1.5;
  --heading-line-height: 1.35;

  // Base unit
  --text-unit: var(--text-base-size);
}

:root,
* {
  --text-xs: calc(
    (var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio)
  );
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(
    var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@include breakpoint(sm) {
  :root {
    --text-base-size: 1.125rem;
  }
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  font-weight: var(--body-font-weight);
  color: var(--color-contrast-higher);
}

h1,
h2,
h3,
h4 {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
  letter-spacing: -0.025em;
  margin-block-end: var(--space-xxs);
}

h2,
h3,
h4 {
  margin-block-start: var(--space-lg);
  font-weight: 500;
}

h1 {
  font-size: var(--text-xxxl);
  font-weight: 600;
}

h2 {
  font-size: var(--text-xxl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

small {
  font-size: var(--text-sm);
}

p,
blockquote,
ul li,
ol li {
  line-height: var(--body-line-height);
}

ul,
ol,
p,
blockquote {
  margin-block-end: var(--space-unit);
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-block-end: 0;
}

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;
  }
}

ol {
  list-style-type: decimal;
}

hr,
.hr {
  margin-block: var(--space-lg);
  width: 100%;
  border: 0;
  border-block-start: 2px solid var(--color-contrast-lower);
}

.hr--large {
  margin-block: var(--space-xl);
}

.hr--transparent {
  border-color: transparent;
}

a {
  color: var(--color-contrast-higher);
  text-decoration: none;
  font-weight: 500;
  border-block-end: 2px solid var(--color-contrast-low);
  transition: color 0.2s, border-color 0.2s,
    background-color 0.2s var(--ease-in-out);

  &:hover,
  &:focus-visible {
    border-color: var(--color-brand);
    color: var(--color-contrast-higher);
  }
}

b,
strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

code,
pre {
  font-family: Monaco, Consolas, monospace;
  font-size: var(--text-sm);
}

pre {
  padding: var(--space-unit);
  overflow: auto;
  border-radius: var(--radius-lg);
}
