/*------------------------------------*\
    $HELPER
\*------------------------------------*/
@if $use-helper == true {
    // Floats.
    .float--right       { float: right !important; }
    .float--left        { float: left  !important; }
    .float--none        { float: none  !important; }


    // Text alignment.
    .text--left         { text-align: left   !important; }
    .text--center       { text-align: center !important; }
    .text--right        { text-align: right  !important; }


    // Font weights.
    .weight--light      { font-weight: 300 !important; }
    .weight--normal     { font-weight: 400 !important; }
    .weight--semibold   { font-weight: 600 !important; }
    .weight--bold       { font-weight: 700 !important; }


    // Add a help cursor to any element that gives the user extra information on `:hover`.
    .informative {
        cursor: help !important;
    }


    // Add a right-angled quote to links that imply movement.
    .go:after {
        content: "\00A0" "\00BB" !important;
    }


    // Apply capital case to an element (usually a `strong`).
    .caps {
        text-transform: uppercase !important;
    }
} // endif

.accessibility,
.visuallyhidden {
    @include accessibility;
}

@if $responsive == true {
    // Provide breakpoint specific hidden elements.
    @each $state in palm, lap, lap-and-up, portable, desk, desk-wide {
        @include media-query(#{$state}) {
            .accessibility--#{$state},
            .visuallyhidden--#{$state} {
                @include accessibility;
            }
        }
    }
}
