<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title | strip_html | strip_newlines | escape_once }} &mdash; {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
        {% if page.next.url %}<link rel="next" href="{{ page.next.url | replace:'/index.html','/' | prepend: site.url }}" title="{{ page.next.title }}">{% endif %}
        {% if page.previous.url %}<link rel="prev" href="{{ page.previous.url | replace:'/index.html','/' | prepend: site.url }}" title="{{ page.previous.title }}">{% endif %}

        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">

        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
        <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
        <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
        <meta property="og:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.url }}{% else %}{{ site.logo | prepend: site.url }}{% endif %}">
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:site_name" content="{{ site.name }}">
        <meta property="og:locale" content="{{ site.locale }}">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@{{ site.author.twitter }}">
        <meta name="twitter:creator" content="@{{ site.author.twitter }}">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
        <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
        <meta name="twitter:image" content="{% if page.featured_image %}{{ page.featured_image | prepend: site.url }}{% else %}{{ site.logo | prepend: site.url }}{% endif %}">
        <meta name="twitter:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    </head>

    <body class="{% if page.page_class %}{{ page.page_class}}{% else %}page--post{% endif %}">
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
