<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>

        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="dns-prefetch" href="//fonts.gstatic.com">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic">
        <link rel="stylesheet" href="/css/style.css">

        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}">
        <meta property="og:image" content="http://paunchev.net/images/me.jpg">
        <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
        <meta property="og:url" content="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
        {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% endif %}
        {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@apaunchev">
        <meta name="twitter:creator" content="@apaunchev">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}">
        <meta name="twitter:image:src" content="http://paunchev.net/images/me.jpg">
        {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}

        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml">
        <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
    </head>

    <body{% if page.page_class %} class="{{ page.page_class}}"{% endif %}>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
