{% capture content %}
    <section class="entry">
        <header class="entry__head">
            <h1>{{ title }}</h1>
        </header>

        <div class="entry__body">
            {{ body }}

            <hr>

            <ul class="portfolio">
                {% for project in site.pages.portfolio.posts %}
                    <li>{% include 'includes/project-listing' %}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endcapture %}

{% include 'layouts/default' %}
