/*------------------------------------*\
	$TYPOGRAPHY
\*------------------------------------*/
html {
	font: #{($base-font-size/16px)*1em}/#{$line-height-ratio} serif;
	overflow-y: scroll;
	min-height: 100%;
}


/**
 * Scale
 */
h1, .h1 {
	@include font-size($h1-size);
}
h2, .h2 {
	@include font-size($h2-size);
}
h3, .h3 {
	@include font-size($h3-size);
}
h4, .h4 {
	@include font-size($h4-size);
}
h5, .h5 {
	@include font-size($h5-size);
}
h6, .h6 {
	@include font-size($h6-size);
}

.large {
	@include font-size($large-size);
}
.small {
	@include font-size($small-size);
}

.lead {
	@include font-size($base-font-size * 1.125);
}


/**
 * Quotes
 */
q {
	quotes: "\2018" "\2019" "\201C" "\201D";

	&:before {
		content: "\2018";
	}
	&:after {
		content: "\2019";
	}

	q:before {
		content: "\201C";
	}
	q:after {
		content: "\201D";
	}
}

blockquote {
	quotes: "\201C" "\201D";

	p:before {
		content: "\201C";
	}
	p:after {
		content: "";
	}
	p:last-of-type:after {
		content: "\201D";
	}

	q:before {
		content: "\2018";
	}
	q:after {
		content: "\2019";
	}
}


/**
 * Code
 */
pre {
	overflow: auto;

	mark {
		background: none;
		border-bottom: 1px solid;
		color: inherit;
	}
}


/**
 * Images
 */
img {
	max-width: 100%;
}

img[width],
img[height] {
	max-width: none;
}

figure > img {
	display: block;
}


/**
 * Lists
 */
li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}


/**
 * Forms
 */
fieldset {
	padding: $base-spacing-unit;
}

// Applying `.text-input` to every input element provides an easy way to target all of them later.
.text-input,
textarea {}

// Use .label on any element that should act as a form label.
.label,
label {
	display: block;
}


/**
 * Tables
 */
table {
	width: 100%;
}
	th,
	td {
		padding: $half-spacing-unit/2;
		text-align: left;
	}

[colspan] {
	text-align: center;
}
[colspan="1"] {
	text-align: left;
}
[rowspan] {
	vertical-align: middle;
}
[rowspan="1"] {
	vertical-align: top;
}
