---
import "@fontsource-variable/inter";
import "../styles/main.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

const defaultTitle = "Angel Paunchev";
const defaultDescription = "Angel is a software engineer from Bulgaria.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description ?? defaultDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} / ${defaultTitle}` : defaultTitle}</title>
  </head>
  <body>
    <div class="max-w-xl mx-auto px-4 pt-16 md:pt-32 pb-4">
      <slot />
    </div>
  </body>
</html>
