---
import Layout from "./Base.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description, frontmatter } = Astro.props;
---

<Layout title={title} description={description}>
  <p>
    <a href="/notes">&larr; Notes</a>
  </p>
  <h1>{frontmatter.title}</h1>
  <article class="prose prose-zinc">
    <slot />
  </article>
</Layout>
