// Colours.
$base-bg-color:     #ffffff;
$foot-bg-color:     #f2f2f2;
$base-font-color:   #525868;
$alt-font-color:    #888888;
$dark-link-color:   #5a6475;
$accent-color:      #37ac21;
$border-color:      #dedede;


// Base sizes.
$base-font-size:    16px;
$base-line-height:  24px;
$avatar-size:       80px;
$radius-size:       5px;
$page-width:        580px;


// Typography scale.
$large-size:        48px;
$h1-size:           36px;
$h2-size:           27px;
$h3-size:           24px;
$h4-size:           21px;
$h5-size:           18px;
$h6-size:           16px;
$small-size:        14px;


// Responsiveness.
$responsive:        true;
// Responsiveness for widescreen/high resolution desktop monitors and beyond.
$responsive-extra:  false;


// Breakpoints.
$lap-start:         481px;
$desk-start:        1024px;
$desk-wide-start:   1200px;


// Objects and abstractions.
$use-grids:         false;
$use-nav:           false;
$use-media:         true;
$use-island:        false;
$use-sprite:        false;


// Helper classes.
$use-helper:        false;
