/*------------------------------------*\
	$ARTICLES
\*------------------------------------*/
article {
	margin-bottom: $base-spacing-unit;
	padding: $base-spacing-unit;
	background-color: #fff;
	border-radius: 2px;
	@include box-shadow(rgba(0, 0, 0, 0.15) 1px 1px 5px);
	@include transition-property(box-shadow);
	@include transition-duration(0.1s);

	&:hover {
		@include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px 5px);
	}

	&:last-child,
	:last-child {
		margin-bottom: 0;
	}
}

.intro {
	position: relative;
	padding-top: $base-spacing-unit*2;
	text-align: center;
}
	.intro__logo {
		position: absolute;
		top: -40px;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 80px;
		height: 80px;
		border: 3px solid $base-ui-color;
		border-radius: 100%;
		@include transition-property(border);
		@include transition-duration(0.1s);

		&:hover,
		&:active,
		&:focus {
			border-color: $base-link-color;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 100%;
		}
	}

	.intro__title {
		margin-bottom: 0;
		font-weight: 700;
		line-height: 1.3;
		color: $base-font-color;
	}

	.intro__subtitle {
		@extend .h3;
		margin-bottom: $half-spacing-unit;

		a {
			color: $alt-font-color;
		}
	}
