/*------------------------------------*\
	$ICONS
\*------------------------------------*/
@include font-face("IcoMoon", font-files("icomoon.woff", "icomoon.ttf", "icomoon.svg"), "icomoon.eot");

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: IcoMoon;
		src: url(../fonts/icomoon.svg) format(svg);
		font-weight: normal;
		font-style: normal;
	}
}

.icon {
	font-family: IcoMoon;
}
