/*------------------------------------*\
	$TYPOGRAPHY
\*------------------------------------*/
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	letter-spacing: -1px;
	color: $alt-font-color;
}


/**
 * Links
 */
a {
	color: $base-link-color;
	font-weight: 700;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}

.go {
	&:after {
		content: "\00A0" "\00BB";
	}
}


/**
 * Lists
 */
dl {
	margin-left: 0;
}
	dt {
		font-weight: 700;
	}
	dd {
		margin: 0 0 $half-spacing-unit;
	}

.link-list {
	margin-left: 0;
	list-style: none;

	li {
		margin-bottom: $half-spacing-unit;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		margin-bottom: $half-spacing-unit/4;
	}
}
